save-exact = true # Save exact version of package in package.json (Lưu phiên bản chính xác của gói trong package.json)
engine-strict = true # Check version of node and npm in package.json (Kiểm tra phiên bản của node và npm trong package.json)
