{
  "printWidth": 80,
  "arrowParens": "always",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "importOrder": [
    "^react/(.*)$|^next/(.*)$|^@",
    "^((types)|(lodash)|(axios)|(dayjs))",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^@lib/(.*)$",
    "^@hooks/(.*)$",
    "^@styles/(.*)$",
    "^@app/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "trailingComma": "all"
}
